# Системные файлы macOS (Mac OS X)
.DS_Store
.AppleDouble
.LSOverride
._*

# Системные файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Файлы настроек VS Code
.vscode/
*.code-workspace

# Временные файлы и логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки зависимостей (на будущее, если появятся)
node_modules/
.env

# Конфиги с секретными ключами (не отправлять на GitHub!)
config.php